STRIPE_SECRET_KEY=sk_test_insira_sua_chave_aqui
STRIPE_WEBHOOK_SECRET=whsec_insira_seu_segredo_webhook_aqui
COMPANIES_HOUSE_API_KEY=insira_sua_chave_companies_house_aqui
SENDGRID_API_KEY=insira_sua_chave_sendgrid_aqui
SENDGRID_FROM_EMAIL=seu_email_verificado_no_sendgrid@dominio.com